---
import { getCollection } from "astro:content";

const devlogs = await getCollection("devlogs")

import Layout from '../layouts/Layout.astro';
import pfp from "../assets/pfp.jpg";
import "../styles/global.css";
import DevlogList from "../components/HomePageDevlogList.astro"

    const discord = await fetch("https://api.lanyard.rest/v1/users/926813944402812949");
    const discorddata = await discord.json();

---

<Layout title="Pepino's Portfolio">
    <main class="py-10 lg:px-25 lg:py-20 relative min-h-screen w-full">
        
        <ul class="flex flex-col-reverse lg:flex-row items-center lg:items-start justify-between gap-10 lg:gap-0">
            <li class="w-full lg:w-2/3"><div id="short-about" class="text-center lg:text-left py-10 text-2xl font-bold text-black ">
                
                <section id="simple-info" class="text-zinc-300 max-w-160">
                    <p class="text-5xl font-bold pb-2.5 text-white">Yo, I am <span id="name" class="">Pepino</span><span class="inline-block transition-transform duration-300 hover:rotate-20 hover:scale-105 hover:translate-x-2 select-none">👋</span></p>
                    <p>I am a teen programmer from the Netherlands.</p>
                    <p>This is my website where you can check out my projects, skillset, story and other things about me</p>
                </section>
                

                <section id="tools" class="flex flex-wrap pt-5 bg-gray">
                    <p class="text-white text-2xl my-auto">Tools I use as a: </p>
                    <ul class="flex gap-x-3 px-3">
                        <li><div id="web" class="btn tool-btn" data-type="web">
                            <p class="">Web Dev</p>
                        </div></li>
                        <li><div id="game" class="btn tool-btn" data-type="game">
                            <p class="">Game developer</p>
                        </div></li>
                        <li><div id="design" class="btn tool-btn" data-type="design">
                            <p class="">Designer</p>
                        </div></li>
                    </ul>
                    <div id="languagesdisplay" class="basis-full">
                        <ul id="tool-list" class="pl-10 pt-4 flex flex-wrap gap-x-12 pl6 text-zinc-200">
                            
                        </ul>
                    </div>
                </section>
                <div class="flex flex-wrap gap-x-4 gap-y-0 max-lg:justify-center">
                    <a href="/about" class="font-bold text-center">
                        <div class="my-5 w-63 h-12.5 text-xl bg-transparent border-2 border-orange-300 rounded-3xl px-4 py-2 text-zinc-300 hover:bg-gray-600 cursor-pointer select-none">
                            <p class="mx-auto">✨ More About Me ✨</p>
                        </div>
                    </a>
                    <a href="/projects" class="font-bold text-center">
                        <div class="my-5 w-60 h-12.5 text-xl bg-transparent border-2 border-sky-300 rounded-3xl px-4 py-2 text-zinc-200 hover:bg-gray-600 cursor-pointer select-none">
                            <p class="mx-auto">💎 My Projects 💎</p>
                        </div>
                    </a>
                    <div id="devlogbutton"  class="font-bold text-center cursor-pointer" >
                        <div class="my-5 w-65 h-12.5 text-xl bg-transparent border-2 border-emerald-300 rounded-3xl px-4 py-2 text-zinc-200 hover:bg-gray-600 cursor-pointer select-none">
                            <p class="mx-auto">🍀 Explore Devlogs 🍀</p>
                        </div>
                    </div>
                </div>
            </div></li>

            

            <li class="w-full lg:w-4/9 flex flex-wrap justify-center lg:justify-end">
                <ul class="flex flex-col gap-10">
                    <li class="mx-auto">
                        <img src={pfp.src} alt="Cute Cat Image" class="w-60 lg:w-110 rounded-3xl border-4 border-gray-900"/>
                        <p class="text-zinc-300 text-2xl">⬆️Image of my cat :)</p>
                    </li>
                    <li class="w-full flex justify-center lg:justify-end">
                        <div class=" rounded-2xl w-4/5 h-auto">
                            <h1 class="font-semibold text-zinc-200 bg-[#1a1c1f] rounded-2xl rounded-b-none text-center py-1 w-35 h-7.5">Discord status: </h1>
                            <img class="bg-[#1a1c1f] object-cover rounded-2xl rounded-tl-none" style="opacity: 1; transform: translateZ(0px);" src="https://lanyard.cnrad.dev/api/926813944402812949" alt="discord status">
                        </div>
                    </li>
                    <li class="w-full flex justify-center lg:justify-end">
                        <div class="rounded-2xl w-4/5 h-auto">
                            <h1 class="font-semibold text-zinc-200 bg-[#1a1c1f] rounded-2xl rounded-b-none text-center py-1 w-35 h-7.5">My time: </h1>
                            <div class="bg-[#1a1c1f] w-full h-35 font-semibold text-7xl text-zinc-300 py-5 font-digital rounded-2xl rounded-tl-none">
                                <h1 id="clock" class="text-center"></h1>
                                <h1 id="date" class="text-center text-2xl"></h1>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            
        </ul>
        <section id="devlogs" class="py-5 lg:ml-25 hidden lg:-translate-y-90">
            <DevlogList devlogs={devlogs} />
        </section>
    </main>
</Layout>

<script>

    document.addEventListener("DOMContentLoaded", () => {
        render();
        colorchange();
        updateClock();
        updateDate();
        setInterval(updateClock, 1000);
        setInterval(updateDate, 1000);

        const devlogbutton = document.getElementById("devlogbutton") as HTMLElement;
        const devlogs = document.getElementById("devlogs") as HTMLElement;

        let devlogvisible = false;
        devlogbutton.addEventListener("click", toggleDevlogs);

        function toggleDevlogs() {
            devlogvisible = !devlogvisible;
            devlogs.classList.toggle("hidden", !devlogvisible);
        }
    });


    interface ToolItem {
        name: string;
        href: string;
        color: string;
        svg: string;
    }

    type ToolCategory = "web" | "game" | "design";

    const data: Record<ToolCategory, ToolItem[]> = {
        web: [
            {
                name: "Astro",
                href: "https://astro.build",
                color: "hover:text-[#BC52EE]",
                svg: `<svg class="w-15 h-15 mx-auto" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path fill="currentColor" d="M8.358 20.162c-1.186-1.07-1.532-3.316-1.038-4.944.856 1.026 2.043 1.352 3.272 1.535 1.897.283 3.76.177 5.522-.678.202-.098.388-.229.608-.36.166.473.209.95.151 1.437-.14 1.185-.738 2.1-1.688 2.794-.38.277-.782.525-1.175.787-1.205.804-1.531 1.747-1.078 3.119l.044.148a3.158 3.158 0 0 1-1.407-1.188 3.31 3.31 0 0 1-.544-1.815c-.004-.32-.004-.642-.048-.958-.106-.769-.472-1.113-1.161-1.133-.707-.02-1.267.411-1.415 1.09-.012.053-.028.104-.045.165h.002zm-5.961-4.445s3.24-1.575 6.49-1.575l2.451-7.565c.092-.366.36-.614.662-.614.302 0 .57.248.662.614l2.45 7.565c3.85 0 6.491 1.575 6.491 1.575L16.088.727C15.93.285 15.663 0 15.303 0H8.697c-.36 0-.615.285-.784.727l-5.516 14.99z" />
                            </svg>`
            },
            {
                name: "Tailwind",
                href: "https://tailwindcss.com",
                color: "hover:text-[#06B6D4]",
                svg: `<svg class="w-15 h-15 mx-auto" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path fill="currentColor" d="M12.001,4.8c-3.2,0-5.2,1.6-6,4.8c1.2-1.6,2.6-2.2,4.2-1.8c0.913,0.228,1.565,0.89,2.288,1.624 C13.666,10.618,15.027,12,18.001,12c3.2,0,5.2-1.6,6-4.8c-1.2,1.6-2.6,2.2-4.2,1.8c-0.913-0.228-1.565-0.89-2.288-1.624 C16.337,6.182,14.976,4.8,12.001,4.8z M6.001,12c-3.2,0-5.2,1.6-6,4.8c1.2-1.6,2.6-2.2,4.2-1.8c0.913,0.228,1.565,0.89,2.288,1.624 c1.177,1.194,2.538,2.576,5.512,2.576c3.2,0,5.2-1.6,6-4.8c-1.2,1.6-2.6,2.2-4.2,1.8c-0.913-0.228-1.565-0.89-2.288-1.624 C10.337,13.382,8.976,12,6.001,12z" />
                            </svg>`
            },
            {
                name: "HTML",
                href: "https://developer.mozilla.org/en-US/docs/Web/HTML",
                color: "hover:text-[#E34F26]",
                svg: `<svg class="w-15 h-15 mx-auto" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path fill="currentColor" d="M1.5 0h21l-1.91 21.563L11.977 24l-8.564-2.438L1.5 0zm7.031 9.75l-.232-2.718 10.059.003.23-2.622L5.412 4.41l.698 8.01h9.126l-.326 3.426-2.91.804-2.955-.81-.188-2.11H6.248l.33 4.171L12 19.351l5.379-1.443.744-8.157H8.531z" />
                            </svg>`
            },
            {
                name: "JS",
                href: "https://developer.mozilla.org/en-US/docs/Web/JavaScript",
                color: "hover:text-[#F7DF1E]",
                svg: `<svg class="w-15 h-15 mx-auto" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path fill="currentColor" d="M0 0h24v24H0V0zm22.034 18.276c-.175-1.095-.888-2.015-3.003-2.873-.736-.345-1.554-.585-1.797-1.14-.091-.33-.105-.51-.046-.705.15-.646.915-.84 1.515-.66.39.12.75.42.976.9 1.034-.676 1.034-.676 1.755-1.125-.27-.42-.404-.601-.586-.78-.63-.705-1.469-1.065-2.834-1.034l-.705.089c-.676.165-1.32.525-1.71 1.005-1.14 1.291-.811 3.541.569 4.471 1.365 1.02 3.361 1.244 3.616 2.205.24 1.17-.87 1.545-1.966 1.41-.811-.18-1.26-.586-1.755-1.336l-1.83 1.051c.21.48.45.689.81 1.109 1.74 1.756 6.09 1.666 6.871-1.004.029-.09.24-.705.074-1.65l.046.067zm-8.983-7.245h-2.248c0 1.938-.009 3.864-.009 5.805 0 1.232.063 2.363-.138 2.711-.33.689-1.18.601-1.566.48-.396-.196-.597-.466-.83-.855-.063-.105-.11-.196-.127-.196l-1.825 1.125c.305.63.75 1.172 1.324 1.517.855.51 2.004.675 3.207.405.783-.226 1.458-.691 1.811-1.411.51-.93.402-2.07.397-3.346.012-2.054 0-4.109 0-6.179l.004-.056z" />
                            </svg>`
            },
            {
                name: "CSS",
                href: "https://developer.mozilla.org/en-US/docs/Web/CSS",
                color: "hover:text-[#663399]",
                svg: `<svg class="w-15 h-15 mx-auto" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path fill="currentColor" d="M0 0v20.16A3.84 3.84 0 0 0 3.84 24h16.32A3.84 3.84 0 0 0 24 20.16V3.84A3.84 3.84 0 0 0 20.16 0Zm14.256 13.08c1.56 0 2.28 1.08 2.304 2.64h-1.608c.024-.288-.048-.6-.144-.84-.096-.192-.288-.264-.552-.264-.456 0-.696.264-.696.84-.024.576.288.888.768 1.08.72.288 1.608.744 1.92 1.296q.432.648.432 1.656c0 1.608-.912 2.592-2.496 2.592-1.656 0-2.4-1.032-2.424-2.688h1.68c0 .792.264 1.176.792 1.176.264 0 .456-.072.552-.24.192-.312.24-1.176-.048-1.512-.312-.408-.912-.6-1.32-.816q-.828-.396-1.224-.936c-.24-.36-.36-.888-.36-1.536 0-1.44.936-2.472 2.424-2.448m5.4 0c1.584 0 2.304 1.08 2.328 2.64h-1.608c0-.288-.048-.6-.168-.84-.096-.192-.264-.264-.528-.264-.48 0-.72.264-.72.84s.288.888.792 1.08c.696.288 1.608.744 1.92 1.296.264.432.408.984.408 1.656.024 1.608-.888 2.592-2.472 2.592-1.68 0-2.424-1.056-2.448-2.688h1.68c0 .744.264 1.176.792 1.176.264 0 .456-.072.552-.24.216-.312.264-1.176-.048-1.512-.288-.408-.888-.6-1.32-.816-.552-.264-.96-.576-1.2-.936s-.36-.888-.36-1.536c-.024-1.44.912-2.472 2.4-2.448m-11.031.018c.711-.006 1.419.198 1.839.63.432.432.672 1.128.648 1.992H9.336c.024-.456-.096-.792-.432-.96-.312-.144-.768-.048-.888.24-.12.264-.192.576-.168.864v3.504c0 .744.264 1.128.768 1.128a.65.65 0 0 0 .552-.264c.168-.24.192-.552.168-.84h1.776c.096 1.632-.984 2.712-2.568 2.688-1.536 0-2.496-.864-2.472-2.472v-4.032c0-.816.24-1.44.696-1.848.432-.408 1.146-.624 1.857-.63" />
                            </svg>`
            },
        ],



        game: [
            {
                name: "Unreal Engine",
                href: "https://www.unrealengine.com",
                color: "hover:text-[#0E1128]",
                svg: `<svg class="w-15 h-15 mx-auto" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path fill="currentColor" d="M12 0a12 12 0 1012 12A12 12 0 0012 0zm0 23.52A11.52 11.52 0 1123.52 12 11.52 11.52 0 0112 23.52zm7.13-9.791c-.206.997-1.126 3.557-4.06 4.942l-1.179-1.325-1.988 2a7.338 7.338 0 01-5.804-2.978 2.859 2.859 0 00.65.123c.326.006.678-.114.678-.66v-5.394a.89.89 0 00-1.116-.89c-.92.212-1.656 2.509-1.656 2.509a7.304 7.304 0 012.528-5.597 7.408 7.408 0 013.73-1.721c-1.006.573-1.57 1.507-1.57 2.29 0 1.262.76 1.109.984.923v7.28a1.157 1.157 0 00.148.256 1.075 1.075 0 00.88.445c.76 0 1.747-.868 1.747-.868V9.172c0-.6-.452-1.324-.905-1.572 0 0 .838-.149 1.484.346a5.537 5.537 0 01.387-.425c1.508-1.48 2.929-1.902 4.112-2.112 0 0-2.151 1.69-2.151 3.96 0 1.687.043 5.801.043 5.801.799.771 1.986-.342 3.059-1.441Z" />
                            </svg>`
            },
            {
                name: "Blender",
                href: "https://www.blender.org",
                color: "hover:text-[#E87D0D]",
                svg: `<svg class="w-15 h-15 mx-auto" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path fill="currentColor" d="M12.51 13.214c.046-.8.438-1.506 1.03-2.006a3.424 3.424 0 0 1 2.212-.79c.85 0 1.631.3 2.211.79.592.5.983 1.206 1.028 2.005.045.823-.285 1.586-.865 2.153a3.389 3.389 0 0 1-2.374.938 3.393 3.393 0 0 1-2.376-.938c-.58-.567-.91-1.33-.865-2.152M7.35 14.831c.006.314.106.922.256 1.398a7.372 7.372 0 0 0 1.593 2.757 8.227 8.227 0 0 0 2.787 2.001 8.947 8.947 0 0 0 3.66.76 8.964 8.964 0 0 0 3.657-.772 8.285 8.285 0 0 0 2.785-2.01 7.428 7.428 0 0 0 1.592-2.762 6.964 6.964 0 0 0 .25-3.074 7.123 7.123 0 0 0-1.016-2.779 7.764 7.764 0 0 0-1.852-2.043h.002L13.566 2.55l-.02-.015c-.492-.378-1.319-.376-1.86.002-.547.382-.609 1.015-.123 1.415l-.001.001 3.126 2.543-9.53.01h-.013c-.788.001-1.545.518-1.695 1.172-.154.665.38 1.217 1.2 1.22V8.9l4.83-.01-8.62 6.617-.034.025c-.813.622-1.075 1.658-.563 2.313.52.667 1.625.668 2.447.004L7.414 14s-.069.52-.063.831zm12.09 1.741c-.97.988-2.326 1.548-3.795 1.55-1.47.004-2.827-.552-3.797-1.538a4.51 4.51 0 0 1-1.036-1.622 4.282 4.282 0 0 1 .282-3.519 4.702 4.702 0 0 1 1.153-1.371c.942-.768 2.141-1.183 3.396-1.185 1.256-.002 2.455.41 3.398 1.175.48.391.87.854 1.152 1.367a4.28 4.28 0 0 1 .522 1.706 4.236 4.236 0 0 1-.239 1.811 4.54 4.54 0 0 1-1.035 1.626" />
                            </svg>`
            }
        ],
        design: [
            {
                name: "Figma",
                href: "https://www.figma.com",
                color: "hover:text-[#F24E1E]",
                svg: `<svg class="w-15 h-15 mx-auto" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path fill="currentColor" d="M15.852 8.981h-4.588V0h4.588c2.476 0 4.49 2.014 4.49 4.49s-2.014 4.491-4.49 4.491zM12.735 7.51h3.117c1.665 0 3.019-1.355 3.019-3.019s-1.355-3.019-3.019-3.019h-3.117V7.51zm0 1.471H8.148c-2.476 0-4.49-2.014-4.49-4.49S5.672 0 8.148 0h4.588v8.981zm-4.587-7.51c-1.665 0-3.019 1.355-3.019 3.019s1.354 3.02 3.019 3.02h3.117V1.471H8.148zm4.587 15.019H8.148c-2.476 0-4.49-2.014-4.49-4.49s2.014-4.49 4.49-4.49h4.588v8.98zM8.148 8.981c-1.665 0-3.019 1.355-3.019 3.019s1.355 3.019 3.019 3.019h3.117V8.981H8.148zM8.172 24c-2.489 0-4.515-2.014-4.515-4.49s2.014-4.49 4.49-4.49h4.588v4.441c0 2.503-2.047 4.539-4.563 4.539zm-.024-7.51a3.023 3.023 0 0 0-3.019 3.019c0 1.665 1.365 3.019 3.044 3.019 1.705 0 3.093-1.376 3.093-3.068v-2.97H8.148zm7.704 0h-.098c-2.476 0-4.49-2.014-4.49-4.49s2.014-4.49 4.49-4.49h.098c2.476 0 4.49 2.014 4.49 4.49s-2.014 4.49-4.49 4.49zm-.097-7.509c-1.665 0-3.019 1.355-3.019 3.019s1.355 3.019 3.019 3.019h.098c1.665 0 3.019-1.355 3.019-3.019s-1.355-3.019-3.019-3.019h-.098z" />
                            </svg>`
            },
            {
                name: "Photoshop",
                href: "https://www.adobe.com/products/photoshop.html",
                color: "hover:text-[#31a8ff]",
                svg: `<?xml version="1.0" encoding="iso-8859-1"?>
                            <svg class="h-15 w-15 mx-auto" height="800px" width="800px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                                viewBox="0 0 17.469 17.469" xml:space="preserve">
                            <g>
                                <g>
                                    <path fill="currentColor" d="M5.925,4.982c-0.442,0-0.742,0.043-0.898,0.087v2.841C5.213,7.952,5.44,7.966,5.754,7.966
                                        c1.157,0,1.871-0.585,1.871-1.571C7.624,5.511,7.01,4.982,5.925,4.982z"/>
                                    <path fill="currentColor" d="M16.4,0.002H1.07C0.479,0.002,0,0.48,0,1.069v15.329c0,0.59,0.479,1.069,1.07,1.069H16.4
                                        c0.59,0,1.069-0.479,1.069-1.069V1.07C17.469,0.48,16.99,0.002,16.4,0.002z M8.894,8.624c-0.741,0.7-1.842,1.014-3.125,1.014
                                        c-0.287,0-0.543-0.014-0.743-0.043v3.442H2.869V3.541C3.54,3.428,4.482,3.342,5.811,3.342c1.341,0,2.299,0.256,2.94,0.771
                                        c0.617,0.486,1.03,1.286,1.03,2.228S9.466,8.08,8.894,8.624z M12.145,13.179c-0.916,0-1.729-0.198-2.258-0.485l0.385-1.556
                                        c0.4,0.241,1.229,0.527,1.873,0.527c0.655,0,0.927-0.228,0.927-0.586c0-0.356-0.214-0.527-1.027-0.799
                                        c-1.442-0.485-2-1.271-1.986-2.099c0-1.298,1.114-2.286,2.842-2.286c0.814,0,1.542,0.187,1.97,0.4l-0.385,1.5
                                        c-0.314-0.172-0.913-0.399-1.514-0.399c-0.527,0-0.826,0.214-0.826,0.571c0,0.328,0.269,0.499,1.126,0.8
                                        c1.328,0.456,1.886,1.128,1.899,2.154C15.171,12.222,14.141,13.179,12.145,13.179z"/>
                                </g>
                            </g>
                            </svg>`
            },
            {
                name: "Onshape",
                href: "https://www.onshape.com/en/",
                color: "hover:text-[#40aa1d]",
                svg: `<?xml version="1.0" encoding="UTF-8"?>
                            <svg class="w-15 h-15 mx-auto" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 444 512">
                                <path fill="currentColor" d="M0 0 C1.89415949 1.06209682 3.79395473 2.1142045 5.69921875 3.15625 C17.19384576 9.56509726 28.61710372 16.07858443 39.96630859 22.74145508 C48.13773271 27.52673414 56.38065161 32.17559777 64.66210938 36.76757812 C66.56502415 37.82504204 68.45392972 38.90812326 70.32771587 40.01638317 C73.04792947 41.56537056 75.80192185 42.73978623 78.71327686 43.88563251 C91.33934742 49.29551637 91.33934742 49.29551637 94.08797812 55.42699599 C95.84048597 62.8154657 95.37925351 70.39797154 95.15698242 77.93237305 C95.15161861 80.47583105 95.15464004 83.01931846 95.16539001 85.5627594 C95.16970645 91.02525822 95.11613426 96.4822199 95.00887108 101.94357872 C94.85391755 109.83828942 94.80492365 117.73092001 94.78109924 125.62698636 C94.73959522 138.43895336 94.61338176 151.24861164 94.43334961 164.05932617 C94.25873289 176.49768584 94.12435285 188.93541669 94.04370117 201.37475586 C94.03870943 202.14251076 94.03371768 202.91026566 94.02857467 203.70128586 C94.00377752 207.55319533 93.97976741 211.40510922 93.95614851 215.25702608 C93.75943127 247.17304376 93.42359322 279.08616195 93 311 C83.47851562 316.49316406 83.47851562 316.49316406 73.95703125 321.98632812 C73.09949658 322.48105999 73.09949658 322.48105999 72.22463799 322.98578644 C69.30390494 324.6708256 66.38317038 326.35586215 63.46243286 328.04089355 C62.33288177 328.69255493 61.20333069 329.34421631 60.03955078 330.015625 C58.52882492 330.88719238 58.52882492 330.88719238 56.98757935 331.77636719 C53.84324784 333.59043548 50.69896476 335.40458769 47.5546875 337.21875 C43.6258575 339.48542819 39.69672062 341.75157239 35.76715088 344.01696777 C34.01658759 345.02619104 32.26609589 346.03553836 30.515625 347.04492188 C28.33607835 348.3016766 26.15640168 349.55820586 23.9765625 350.81445312 C22.47609375 351.67973633 22.47609375 351.67973633 20.9453125 352.5625 C19.97368164 353.12195313 19.00205078 353.68140625 18.00097656 354.2578125 C15.87646335 355.4911778 13.75930869 356.73725904 11.64746094 357.9921875 C10.02372559 358.95511719 10.02372559 358.95511719 8.3671875 359.9375 C7.3860498 360.52402344 6.40491211 361.11054688 5.39404297 361.71484375 C3 363 3 363 1 363 C1.01881289 361.69962516 1.03762577 360.39925032 1.05700874 359.05947018 C1.49843975 328.14308004 1.80452029 297.22860931 1.9455163 266.30950102 C1.96301295 262.4984025 1.98164399 258.68731032 2.00097656 254.8762207 C2.00480602 254.11754859 2.00863548 253.35887648 2.01258098 252.57721431 C2.07717302 240.31571267 2.23350324 228.05702826 2.42416729 215.7969129 C2.61796938 203.20267162 2.71219508 190.61047596 2.71533382 178.01473099 C2.71991778 170.94404578 2.77011365 163.87984626 2.9341774 156.81091118 C5.30519292 129.33833078 5.30519292 129.33833078 -2.47769928 104.24916458 C-7.9807554 98.55840611 -15.03265108 96.09017282 -22.55866814 94.08938313 C-28.52872624 92.19951002 -33.58061824 88.86203436 -38.875 85.5625 C-40.08052476 84.85794153 -41.28886288 84.15812307 -42.50244141 83.4675293 C-43.44265137 82.92523682 -44.38286133 82.38294434 -45.3515625 81.82421875 C-49.92331427 79.19053649 -54.50170909 76.56890274 -59.0859375 73.95703125 C-59.67819122 73.61956375 -60.27044495 73.28209625 -60.88064575 72.93440247 C-61.47287933 72.59696518 -62.06511292 72.25952789 -62.67529297 71.91186523 C-75.85901611 64.40014638 -88.96801992 56.77232786 -102 49 C-100.68596821 45.05790462 -99.21143347 44.69942468 -95.62109375 42.69921875 C-93.91614746 41.73894775 -93.91614746 41.73894775 -92.17675781 40.75927734 C-91.5678772 40.42192566 -90.95899658 40.08457397 -90.33166504 39.73699951 C-87.7659473 38.31541298 -85.21153109 36.87404768 -82.65609741 35.43408203 C-81.34553236 34.69601417 -80.03434833 33.9590444 -78.7225647 33.22314453 C-72.69311561 29.83940324 -66.71515771 26.3707832 -60.75 22.875 C-59.78457275 22.31047119 -58.81914551 21.74594238 -57.82446289 21.16430664 C-55.87585699 20.02473394 -53.9275327 18.88467956 -51.97949219 17.74414062 C-48.87519195 15.92693963 -45.76985833 14.11151863 -42.6640625 12.296875 C-41.61919678 11.68569824 -40.57433105 11.07452148 -39.49780273 10.44482422 C-37.44353657 9.24769342 -35.38583375 8.05643721 -33.32446289 6.87158203 C-29.04730915 4.40829977 -24.83140424 1.93977374 -20.76953125 -0.8671875 C-20.15094238 -1.27662598 -19.53235352 -1.68606445 -18.89501953 -2.10791016 C-17.33877074 -3.1488212 -15.81386053 -4.2362027 -14.29296875 -5.328125 C-8.65176655 -6.47911762 -4.69281924 -2.91329226 0 0 Z " transform="translate(351,74)" />
                                <path fill="currentColor" d="M0 0 C3.90926013 1.51439645 7.33128583 3.29707156 10.91015625 5.4921875 C11.74975136 6.0047258 11.74975136 6.0047258 12.60630798 6.52761841 C14.4271316 7.640031 16.24475776 8.75756086 18.0625 9.875 C19.97643569 11.04562391 21.89120794 12.21487135 23.80599976 13.38409424 C25.08330979 14.16420821 26.36034871 14.94476626 27.63711548 15.72576904 C32.74048309 18.84680107 37.8644899 21.93213854 43 25 C50.85183918 29.69874481 58.67964733 34.43659271 66.5 39.1875 C67.09068268 39.54632263 67.68136536 39.90514526 68.28994751 40.27484131 C73.72195206 43.57494249 79.15294623 46.87670491 84.58349609 50.17919922 C88.11777602 52.32843824 91.65242669 54.47706619 95.1875 56.625 C95.76910889 56.97839447 96.35071777 57.33178894 96.94995117 57.69589233 C105.11742986 62.65716803 113.30154457 67.59004337 121.5 72.5 C130.28824523 77.76317466 139.05809603 83.05579376 147.8125 88.375 C148.68772308 88.90675339 148.68772308 88.90675339 149.58062744 89.44924927 C154.88173946 92.67041045 160.18156546 95.89368511 165.48095703 99.11767578 C166.05217285 99.46514359 166.62338867 99.81261139 167.21191406 100.17060852 C168.36658466 100.87299307 169.52120693 101.57545708 170.67578125 102.27799988 C173.55083734 104.02678835 176.42763773 105.77258886 179.30810547 107.51245117 C180.46457651 108.21132935 181.62098888 108.91030463 182.77734375 109.609375 C183.35460205 109.95833328 183.93186035 110.30729156 184.52661133 110.66682434 C188.42115314 113.02713144 192.29296074 115.42180626 196.15588379 117.83348083 C198.90810149 119.54821238 201.66908355 121.24849833 204.43145752 122.94680786 C205.75989057 123.76841381 207.08431993 124.59653176 208.40447998 125.43136597 C210.23762951 126.58967859 212.08340257 127.7246426 213.93359375 128.85546875 C214.98603271 129.51184326 216.03847168 130.16821777 217.12280273 130.84448242 C219.90059718 132.27931535 219.90059718 132.27931535 222.54370117 131.40820312 C225.20974455 129.87975285 227.80327431 128.30896122 230.3671875 126.61328125 C231.92505981 125.58823486 231.92505981 125.58823486 233.5144043 124.54248047 C234.63462433 123.79918599 235.75482234 123.05585832 236.875 122.3125 C238.04240468 121.54264615 239.21013409 120.77328451 240.37817383 120.00439453 C242.76678628 118.43160211 245.15410535 116.85687554 247.54052734 115.28076172 C252.57580708 111.95782969 257.63179607 108.66673915 262.6875 105.375 C264.57426407 104.14460074 266.46098285 102.91413203 268.34765625 101.68359375 C272.16632423 99.19407905 275.98688641 96.70750232 279.80859375 94.22265625 C281.7474794 92.96106592 283.68628196 91.69934788 285.625 90.4375 C286.5639209 89.82688721 287.5028418 89.21627441 288.47021484 88.5871582 C293.3504942 85.40617915 298.20984038 82.19755476 303.04296875 78.9453125 C304.01218262 78.29377197 304.98139648 77.64223145 305.97998047 76.97094727 C307.83211282 75.72304875 309.68152046 74.47109415 311.52783203 73.21459961 C312.35009277 72.6603833 313.17235352 72.10616699 314.01953125 71.53515625 C314.74245361 71.044104 315.46537598 70.55305176 316.21020508 70.04711914 C318 69 318 69 320 69 C320 104.97 320 140.94 320 178 C312.41 182.29 304.82 186.58 297 191 C293.09643262 193.25971357 289.1985894 195.5236828 285.3125 197.8125 C275.3350796 203.65906709 265.31827662 209.4345341 255.26049805 215.14160156 C249.73157654 218.28102287 244.2237792 221.44684237 238.76953125 224.71484375 C237.81135498 225.28251465 236.85317871 225.85018555 235.8659668 226.43505859 C234.09233343 227.48814847 232.32624679 228.55409914 230.56958008 229.63525391 C229.39431763 230.32820557 229.39431763 230.32820557 228.1953125 231.03515625 C227.52516113 231.4412915 226.85500977 231.84742676 226.16455078 232.26586914 C222.22057615 233.60351089 219.00544754 232.47425026 215.34472656 230.74755859 C214.45237305 230.21984863 213.56001953 229.69213867 212.640625 229.1484375 C211.11115234 228.25415039 211.11115234 228.25415039 209.55078125 227.34179688 C208.46152344 226.69275391 207.37226563 226.04371094 206.25 225.375 C205.09302648 224.69497822 203.93546287 224.01595953 202.77734375 223.33789062 C200.37334852 221.92932676 197.97194227 220.51649359 195.57226562 219.10058594 C190.0716512 215.85983022 184.53396591 212.68333677 179 209.5 C176.83315966 208.25030108 174.6664935 207.00030011 172.5 205.75 C171.4275 205.13125 170.355 204.5125 169.25 203.875 C112.375 171.0625 112.375 171.0625 55.5 138.25 C53.88931641 137.32078735 53.88931641 137.32078735 52.24609375 136.37280273 C50.0923828 135.13023981 47.93873633 133.88756511 45.78515625 132.64477539 C40.76315738 129.74685377 35.74057193 126.84996651 30.71557617 123.95724487 C28.94954478 122.94052802 27.18372569 121.92344342 25.41796875 120.90625 C23.21265845 119.63599127 21.00695784 118.36640982 18.80078125 117.09765625 C17.79402344 116.51757812 16.78726562 115.9375 15.75 115.33984375 C14.87859375 114.83831787 14.0071875 114.33679199 13.109375 113.82006836 C12.08328125 113.2194458 11.0571875 112.61882324 10 112 C9.19109125 111.62901153 8.3821825 111.25802305 7.54876137 110.8757925 C0.55810967 107.37327627 0.55810967 107.37327627 -0.91026688 103.76021099 C-1.23324826 100.99106371 -1.23856853 98.37466136 -1.13525391 95.58837891 C-1.13671417 94.55362427 -1.13817444 93.51886963 -1.13967896 92.45275879 C-1.13272667 89.04187191 -1.05503694 85.63649085 -0.9765625 82.2265625 C-0.95790556 79.85862208 -0.94367364 77.490643 -0.9336853 75.12265015 C-0.89554808 68.897491 -0.79735798 62.6746745 -0.68664551 56.45043945 C-0.58424916 50.09618829 -0.53865538 43.74155758 -0.48828125 37.38671875 C-0.38111287 24.92345125 -0.21049735 12.4619206 0 0 Z " transform="translate(0,279)" />
                                <path fill="currentColor" d="M0 0 C2.43994141 1.14477539 2.43994141 1.14477539 4.8515625 2.59765625 C6.22997314 3.41641235 6.22997314 3.41641235 7.63623047 4.25170898 C9.11567139 5.14805054 9.11567139 5.14805054 10.625 6.0625 C12.78566379 7.34769089 14.94715585 8.63149008 17.109375 9.9140625 C18.23794922 10.58598633 19.36652344 11.25791016 20.52929688 11.95019531 C25.6910755 15.00998257 30.90771778 17.97430965 36.12347412 20.94076538 C37.87645554 21.9383283 39.62814355 22.93812343 41.37939453 23.9387207 C46.77125885 27.01931139 52.16569502 30.09517785 57.56741333 33.15846252 C59.97299567 34.52440601 62.37552824 35.89564967 64.77740479 37.26809692 C66.45822065 38.22618519 68.14288459 39.17751262 69.82763672 40.12866211 C70.8435791 40.71010986 71.85952148 41.29155762 72.90625 41.890625 C73.79634766 42.39625977 74.68644531 42.90189453 75.60351562 43.42285156 C78.07639067 45.0502734 79.98703116 46.83857179 82 49 C49.3984375 67.80859375 49.3984375 67.80859375 46.19238281 69.65820312 C44.04845933 70.89510728 41.90457974 72.13208754 39.76074219 73.36914062 C34.31807441 76.50958117 28.87464455 79.64868634 23.4296875 82.78515625 C12.93767906 88.83055159 2.45518324 94.89110219 -8 101 C-21.73055188 109.02267511 -35.51077966 116.95858259 -49.29101562 124.89550781 C-61.86024157 132.13606904 -74.41513546 139.39954136 -86.93945312 146.7175293 C-94.48855038 151.1255294 -102.05282313 155.50677311 -109.625 159.875 C-110.65496094 160.46925781 -111.68492188 161.06351563 -112.74609375 161.67578125 C-114.25236328 162.54396484 -114.25236328 162.54396484 -115.7890625 163.4296875 C-116.7262915 164.00214203 -117.66352051 164.57459656 -118.62915039 165.16439819 C-122 167 -122 167 -125.61328125 168.16372681 C-129.91513288 169.79902902 -133.23566863 171.22698619 -136 175 C-138.73341304 183.40139842 -137.76364691 192.88529781 -137.5859375 201.59375 C-137.58226161 204.22790381 -137.58475967 206.86207287 -137.59317017 209.49621582 C-137.60263682 215.70908803 -137.54112209 221.91911723 -137.45364916 228.13129854 C-137.35749928 235.20750879 -137.34115846 242.28321368 -137.3312881 249.35998821 C-137.3092216 263.90768134 -137.1876857 278.45351222 -137 293 C-140.75486765 291.53578504 -144.15795694 289.86234618 -147.6484375 287.83984375 C-149.26770142 286.90410522 -149.26770142 286.90410522 -150.91967773 285.94946289 C-152.63006226 284.95354126 -152.63006226 284.95354126 -154.375 283.9375 C-155.56640416 283.24651947 -156.75789233 282.55568376 -157.94946289 281.86499023 C-164.94848683 277.80253167 -171.91597352 273.69320546 -178.83984375 269.50390625 C-185.81148868 265.29288174 -192.83478835 261.16735094 -199.84545898 257.02172852 C-202.01056302 255.74048378 -204.16179707 254.43542865 -206.29652405 253.10418701 C-208.77228345 251.61759706 -211.16955141 250.51930259 -213.88696289 249.5500946 C-218.30647619 247.7951759 -222.08001189 245.85310966 -225 242 C-227.87923041 233.80685637 -226.96105138 224.50238075 -226.78125 215.95703125 C-226.77611385 213.38352461 -226.77631664 210.81000228 -226.78161621 208.23649597 C-226.7766634 202.85270515 -226.72248111 197.47293631 -226.62597656 192.09008789 C-226.51513279 185.87743742 -226.48897224 179.66893166 -226.5098691 173.45542127 C-226.52881657 167.46027514 -226.49583382 161.46690673 -226.43797302 155.47192955 C-226.41689368 152.9286967 -226.40750817 150.38533897 -226.41004944 147.84202003 C-226.40465134 144.28797266 -226.34052686 140.73979775 -226.25976562 137.18676758 C-226.26855743 136.13779297 -226.27734924 135.08881836 -226.28640747 134.00805664 C-226.04171814 127.02811433 -226.04171814 127.02811433 -223.00976658 124.03575706 C-220.73046701 122.49673176 -218.46477646 121.21436408 -216 120 C-215.0917749 119.45472656 -214.1835498 118.90945312 -213.24780273 118.34765625 C-212.10226929 117.71150391 -212.10226929 117.71150391 -210.93359375 117.0625 C-210.04905518 116.5677417 -209.1645166 116.0729834 -208.25317383 115.56323242 C-206.85941528 114.78943237 -206.85941528 114.78943237 -205.4375 114 C-197.35061753 109.47058863 -189.30832514 104.87578837 -181.3125 100.1875 C-172.57396651 95.06750629 -163.79985328 90.01353234 -155 85 C-145.27865901 79.46031101 -135.59104908 73.86624937 -125.93310547 68.21655273 C-115.40915375 62.06233258 -104.84619863 55.97630004 -94.28222656 49.89111328 C-88.85340058 46.76319852 -83.42680719 43.63141552 -78 40.5 C-75.83334417 39.24998121 -73.6666775 37.99998122 -71.5 36.75 C-70.4275 36.13125 -69.355 35.5125 -68.25 34.875 C-65 33 -61.75 31.125 -58.5 29.25 C-57.42596924 28.63036377 -56.35193848 28.01072754 -55.24536133 27.37231445 C-53.09416776 26.13124746 -50.94296345 24.89019907 -48.79174805 23.64916992 C-43.74037001 20.73501656 -38.6890969 17.82068182 -33.63821411 14.90567017 C-31.84933082 13.87326522 -30.06041283 12.84092044 -28.27148438 11.80859375 C-26.02662364 10.51314052 -23.7818281 9.2175743 -21.53710938 7.921875 C-19.55163517 6.77616699 -17.56369217 5.63472153 -15.57275391 4.49853516 C-14.00277608 3.58408043 -12.44791156 2.64210961 -10.92333984 1.65380859 C-6.77497342 -0.99801678 -4.72629512 -1.15121512 0 0 Z " transform="translate(225,1)" />
                                <path fill="currentColor" d="M0 0 C3.01342773 1.43945312 3.01342773 1.43945312 6.18359375 3.28125 C6.76101822 3.61362671 7.33844269 3.94600342 7.93336487 4.28845215 C9.77317313 5.35044108 11.60525288 6.42502999 13.4375 7.5 C15.19660768 8.51776433 16.95699303 9.53323297 18.7188549 10.54622173 C19.92457331 11.249804 21.12323519 11.96574126 22.31163216 12.69820118 C25.44959491 14.61788563 28.46611563 16.23726034 31.92562866 17.50016785 C36.3026024 19.26529979 40.06270624 21.21100638 43 25 C45.96134617 32.95894488 45.23415908 42.03826775 45.16796875 50.39453125 C45.19079447 52.9088645 45.21732735 55.42316658 45.24739075 57.93742371 C45.2920001 63.2012298 45.28118295 68.46222296 45.23022461 73.72583008 C45.17285793 79.78466718 45.24305465 85.83242866 45.37720698 91.88980371 C45.50203114 97.74865965 45.51377911 103.60325623 45.4816227 109.46317101 C45.48085919 111.94029864 45.51087768 114.41764481 45.57308006 116.89399147 C45.97806816 135.66213637 45.97806816 135.66213637 41.07040787 141.16271591 C36.33558194 144.94639828 31.14666254 147.43285004 25.5979557 149.7957058 C21.29680996 151.7895215 17.46367186 154.45087236 13.5625 157.125 C12.21060925 158.02490217 10.85791589 158.92360161 9.50390625 159.8203125 C8.66581421 160.38129639 8.66581421 160.38129639 7.81079102 160.95361328 C6 162 6 162 1 164 C1 126.05 1 88.1 1 49 C-0.65 48.34 -2.3 47.68 -4 47 C-6.0807788 45.88127763 -8.14318012 44.72804497 -10.19140625 43.55078125 C-10.77736069 43.21507614 -11.36331512 42.87937103 -11.96702576 42.53349304 C-13.83394271 41.4628585 -15.69822099 40.38771995 -17.5625 39.3125 C-18.78694388 38.60973762 -20.011552 37.90726131 -21.23632812 37.20507812 C-28.84479711 32.83858796 -36.42857269 28.4304155 -44 24 C-42.73180238 20.19540713 -41.54313976 19.87152097 -38.109375 17.92578125 C-36.58836182 17.05288452 -36.58836182 17.05288452 -35.03662109 16.16235352 C-33.95203613 15.55190186 -32.86745117 14.9414502 -31.75 14.3125 C-29.5485164 13.05898101 -27.34798739 11.80378398 -25.1484375 10.546875 C-24.08592773 9.94037109 -23.02341797 9.33386719 -21.92871094 8.70898438 C-19.48393482 7.28238944 -17.09471372 5.81453028 -14.7265625 4.265625 C-14.14293945 3.88494873 -13.55931641 3.50427246 -12.95800781 3.11206055 C-11.49243998 2.14036466 -10.03862963 1.15099808 -8.5859375 0.16015625 C-5.20027439 -1.35878929 -3.58764032 -0.86506431 0 0 Z " transform="translate(277,174)" />
                                <path fill="currentColor" d="M0 0 C3.31317823 1.25811375 6.33862034 2.67145312 9.38671875 4.4765625 C10.2286377 4.97381836 11.07055664 5.47107422 11.93798828 5.98339844 C12.84532715 6.52512695 13.75266602 7.06685547 14.6875 7.625 C16.13358643 8.48399902 16.13358643 8.48399902 17.60888672 9.36035156 C26.08372224 14.41351801 34.48924086 19.57742683 42.88354492 24.76293945 C52.24215044 30.54368075 61.63185314 36.27162195 71.04956055 41.95556641 C76.26226895 45.1042589 81.45798645 48.27134478 86.58984375 51.55078125 C87.42 52.07631592 88.25015625 52.60185059 89.10546875 53.14331055 C90.60688479 54.09725673 92.10107017 55.0627301 93.5859375 56.04223633 C97.24142712 58.42614913 97.24142712 58.42614913 101.4621582 58.75292969 C104.00344784 57.99897709 105.82767315 57.09795011 108.046875 55.6640625 C108.80162109 55.18163086 109.55636719 54.69919922 110.33398438 54.20214844 C111.13126953 53.68168945 111.92855469 53.16123047 112.75 52.625 C113.57822266 52.09422852 114.40644531 51.56345703 115.25976562 51.01660156 C119.5001474 48.29340581 123.71501698 45.53244045 127.921875 42.7578125 C129.07864746 41.99863525 129.07864746 41.99863525 130.25878906 41.22412109 C131.72876523 40.25726749 133.19444257 39.2838393 134.65527344 38.30322266 C139.66697519 35 139.66697519 35 143 35 C143.51116192 41.47031314 143.85873091 47.93539876 144.09863281 54.42138672 C144.19865712 56.62095349 144.33476891 58.8192078 144.50878906 61.01416016 C145.63149973 75.54996115 145.63149973 75.54996115 143 82 C138.33172568 87.33444234 131.82300279 90.09635151 125.43920898 92.88842773 C122.2547495 94.33961821 119.545563 96.10303383 116.6640625 98.0859375 C115.808125 98.6428125 114.9521875 99.1996875 114.0703125 99.7734375 C112.37671638 100.8826618 110.69235714 102.00606972 109.015625 103.140625 C108.17773438 103.67945313 107.33984375 104.21828125 106.4765625 104.7734375 C105.3949585 105.49152588 105.3949585 105.49152588 104.29150391 106.22412109 C100.9374465 107.35976934 99.19606243 106.39958951 96 105 C94.02427305 103.92756872 92.08108715 102.79378276 90.16796875 101.61328125 C89.05292969 100.93007813 87.93789062 100.246875 86.7890625 99.54296875 C85.58853654 98.79948744 84.38801584 98.05599764 83.1875 97.3125 C81.2931722 96.14889096 79.39751455 94.9874679 77.50186157 93.82601929 C76.21249919 93.03574517 74.92358163 92.24474489 73.63510132 91.45303345 C67.61724841 87.75643288 61.56261092 84.12267816 55.5 80.5 C45.30829198 74.39938158 35.14869466 68.24726583 25.00195312 62.07226562 C23.37290039 61.08129883 23.37290039 61.08129883 21.7109375 60.0703125 C20.63690674 59.38735107 19.56287598 58.70438965 18.45629883 58.00073242 C15.8640207 56.50015184 13.61433632 55.40779925 10.86206055 54.3371582 C6.61544814 52.54519601 2.77346692 50.80638362 0 47 C-2.44828446 39.31248133 -1.40331103 30.86449051 -0.9375 22.9375 C-0.86219341 20.71441718 -0.79376352 18.4910901 -0.73242188 16.26757812 C-0.56774013 10.83969377 -0.31743604 5.42098211 0 0 Z " transform="translate(120,267)" />
                                <path fill="currentColor" d="M0 0 C5.17202453 1.47656862 9.37800817 3.79998128 13.9375 6.5625 C14.67025146 7.00215088 15.40300293 7.44180176 16.15795898 7.89477539 C17.67893212 8.80735927 19.1988634 9.72168171 20.71777344 10.63769531 C22.94682627 11.96825958 25.19184564 13.26598927 27.4453125 14.5546875 C28.13890869 14.9561499 28.83250488 15.3576123 29.54711914 15.77124023 C30.86978875 16.53664214 32.1970027 17.29425515 33.52905273 18.04321289 C35.31640625 19.08984375 35.31640625 19.08984375 38 21 C38 21.99 38 22.98 38 24 C5.3984375 42.80859375 5.3984375 42.80859375 2.19018555 44.65942383 C0.05353211 45.8921651 -2.08302299 47.12507682 -4.21948242 48.3581543 C-9.77293485 51.5630839 -15.32824778 54.76471862 -20.88671875 57.9609375 C-23.15374771 59.26544797 -25.42067645 60.57013262 -27.6875 61.875 C-28.77095703 62.49834229 -29.85441406 63.12168457 -30.97070312 63.76391602 C-37.63925068 67.60984963 -44.27387986 71.50457218 -50.81518555 75.56396484 C-54.78854186 78 -54.78854186 78 -57 78 C-57 95.16 -57 112.32 -57 130 C-60.93737659 128.42504936 -64.25449047 126.80709877 -67.89453125 124.69921875 C-69.57579102 123.72758789 -69.57579102 123.72758789 -71.29101562 122.73632812 C-71.87020752 122.39931885 -72.44939941 122.06230957 -73.04614258 121.71508789 C-74.79496155 120.69770308 -76.54660746 119.68534069 -78.29882812 118.67382812 C-81.54083749 116.79550637 -84.77983959 114.91556881 -88 113 C-89.05124809 112.53537102 -89.05124809 112.53537102 -90.12373352 112.06135559 C-92.47657281 110.90500458 -94.16532875 109.88072838 -96 108 C-97.29026856 104.19207001 -97.33435841 100.48534612 -97.37890625 96.48828125 C-97.40790512 95.36487839 -97.43690399 94.24147552 -97.46678162 93.08403015 C-97.51162019 90.70810081 -97.53462078 88.33167309 -97.53735352 85.95532227 C-97.56234641 82.33474997 -97.72014087 78.7357021 -97.88476562 75.11914062 C-98.24123514 58.89247612 -98.24123514 58.89247612 -94.45108032 54.00100708 C-90.49202407 50.63717961 -85.99461118 48.69415826 -81.17276001 46.86355591 C-78.10672405 45.64497058 -75.37748294 43.98646404 -72.56640625 42.26953125 C-70.56553379 41.11644169 -68.56422606 39.96410711 -66.5625 38.8125 C-64.31379049 37.5169472 -62.06509292 36.22137368 -59.81640625 34.92578125 C-58.68734863 34.27561035 -57.55829102 33.62543945 -56.39501953 32.95556641 C-49.86344928 29.19331431 -43.33525548 25.42520596 -36.80712891 21.65698242 C-31.70141901 18.71030503 -26.59451664 15.76575285 -21.48348999 12.82830811 C-19.05339448 11.43150193 -16.62396065 10.03354722 -14.19458008 8.63549805 C-12.46695585 7.64194008 -10.7383688 6.65005691 -9.00976562 5.65820312 C-7.97400391 5.06201172 -6.93824219 4.46582031 -5.87109375 3.8515625 C-4.95255615 3.32385254 -4.03401855 2.79614258 -3.08764648 2.25244141 C-1.08479141 1.1656533 -1.08479141 1.1656533 0 0 Z " transform="translate(216,140)" />
                            </svg>`
                },
            {
                name: "Blender",
                href: "https://www.blender.org",
                color: "hover:text-[#E87D0D]",
                svg: `<svg class="w-15 h-15 mx-auto" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path fill="currentColor" d="M12.51 13.214c.046-.8.438-1.506 1.03-2.006a3.424 3.424 0 0 1 2.212-.79c.85 0 1.631.3 2.211.79.592.5.983 1.206 1.028 2.005.045.823-.285 1.586-.865 2.153a3.389 3.389 0 0 1-2.374.938 3.393 3.393 0 0 1-2.376-.938c-.58-.567-.91-1.33-.865-2.152M7.35 14.831c.006.314.106.922.256 1.398a7.372 7.372 0 0 0 1.593 2.757 8.227 8.227 0 0 0 2.787 2.001 8.947 8.947 0 0 0 3.66.76 8.964 8.964 0 0 0 3.657-.772 8.285 8.285 0 0 0 2.785-2.01 7.428 7.428 0 0 0 1.592-2.762 6.964 6.964 0 0 0 .25-3.074 7.123 7.123 0 0 0-1.016-2.779 7.764 7.764 0 0 0-1.852-2.043h.002L13.566 2.55l-.02-.015c-.492-.378-1.319-.376-1.86.002-.547.382-.609 1.015-.123 1.415l-.001.001 3.126 2.543-9.53.01h-.013c-.788.001-1.545.518-1.695 1.172-.154.665.38 1.217 1.2 1.22V8.9l4.83-.01-8.62 6.617-.034.025c-.813.622-1.075 1.658-.563 2.313.52.667 1.625.668 2.447.004L7.414 14s-.069.52-.063.831zm12.09 1.741c-.97.988-2.326 1.548-3.795 1.55-1.47.004-2.827-.552-3.797-1.538a4.51 4.51 0 0 1-1.036-1.622 4.282 4.282 0 0 1 .282-3.519 4.702 4.702 0 0 1 1.153-1.371c.942-.768 2.141-1.183 3.396-1.185 1.256-.002 2.455.41 3.398 1.175.48.391.87.854 1.152 1.367a4.28 4.28 0 0 1 .522 1.706 4.236 4.236 0 0 1-.239 1.811 4.54 4.54 0 0 1-1.035 1.626" />
                            </svg>`
            }
        ],
    }
    const buttons = document.querySelectorAll(".tool-btn");
    const list = document.getElementById("tool-list") as HTMLElement;
    const name = document.getElementById("name") as HTMLElement;

    let current: ToolCategory = "web";
    const colors = ["text-blue-700", "text-orange-700", "text-pink-700"];
    const colorindex = Math.floor(Math.random() * colors.length);
    const randomcolor = colors[colorindex];

    function updateClock() {
        const clockelement = document.getElementById("clock");
        if (clockelement) {
            const now = new Date();
            clockelement.textContent = now.toLocaleTimeString();
        };
    };

    function updateDate() {
        const dateelement = document.getElementById("date")
        if (dateelement) {
            const nowdate = new Date();
            dateelement.textContent = nowdate.toLocaleDateString();
        };
    };

    function colorchange() {
        name.classList.add(`${randomcolor}`)
    };

    function render() {
        list.innerHTML = data[current]
        .map((item) => `
        <li>
            <a href="${item.href}">
                <div class="flex flex-col text-center ${item.color} hover:-translate-y-1 transition-transform transition-colors select-none">
                    ${item.svg}
                    <p>${item.name}</p>
                </div>
            </a>
        </li>
        
        `)
        .join("")
        buttons.forEach(element => { 
            element.classList.remove("active")    
        });
        const currentbutton = document.getElementById(`${current}`)!;
        currentbutton.classList.add("active")
    }

    buttons.forEach((btn) => {
        btn.addEventListener("click", () => {
            current = btn.dataset.type;
            render();
        })     
    });
</script>