---
import type { ImageFunction } from 'astro:content';

interface Props {
    title: string;
    image: ImageMetadata;  
    project: string;
    icon1: string;
    icon2?: string;
    hackatime?: string;
    alt?: string;
    icon1src?: string;
    icon2src?: string;
}

let icon1src = ""
let icon2src = ""

const{title = "Placeholder", image, project = "Project", icon1 = "language1", icon2 = "language2", alt = "thumbnail", hackatime} = Astro.props

if (icon1 == "python") {icon1src = "https://img.shields.io/badge/-Python-000?&logo=Python"}
if (icon2 == "python") {icon2src = "https://img.shields.io/badge/-Python-000?&logo=Python"}
if (icon1 == "html") {icon1src = "https://img.shields.io/badge/-HTML-000?&logo=HTML5"}
if (icon2 == "html") {icon2src = "https://img.shields.io/badge/-HTML-000?&logo=HTML5"}
if (icon1 == "unreal") {icon1src = "https://img.shields.io/badge/-Unreal%20engine-000?&logo=unrealengine"}
if (icon2 == "unreal") {icon2src = "https://img.shields.io/badge/-Unreal%20engine-000?&logo=unrealengine"}
if (icon1 == "astro") {icon1src = "https://img.shields.io/badge/-Astro-000?&logo=astro"}
if (icon2 == "astro") {icon2src = "https://img.shields.io/badge/-Astro-000?&logo=astro"}
if (icon1 == "tailwind") {icon1src = "https://img.shields.io/badge/-Tailwind-000?&logo=tailwindcss"}
if (icon2 == "tailwind") {icon2src = "https://img.shields.io/badge/-Tailwind-000?&logo=tailwindcss"}
if (icon1 == "blender") {icon1src = "https://img.shields.io/badge/-Blender-000?&logo=blender"}
if (icon2 == "blender") {icon2src = "https://img.shields.io/badge/-Blender-000?&logo=blender"}

const allFiles = import.meta.glob(`/src/content/devlogs/**/*.md`);
const files = Object.keys(allFiles).filter(path => path.includes(`/${project}/`));
const devlogcount = files.length;

---
<div id="tile" class="bg-gray-800 rounded-3xl size-max w-64 h-80 aspect-square overflow-x-hidden mx-auto my-auto border-gray-700 border-12 transition-transform hover:-translate-y-2">
    <a href={`/Projects/${project}`}>
        <img id="thumbnail" src={image.src} alt={alt} class="object-center w-sm max-h-35 object-cover">
        <h1 class="text-center text-3xl text-zinc-300">{title}</h1>
        {devlogcount > 1 && (<h1 class="text-center text-1xl text-zinc-300">{devlogcount} devlogs</h1>)}
        {devlogcount == 1 && (<h1 class="text-center text-1xl text-zinc-300">{devlogcount} devlog</h1>)}
        <div id="data" class="">
            <ul class="flex justify-center">
                <li><img id="language1" src={icon1src} class="px-2 py-2"/></li>
                <li><img id="language2" src={icon2src} class="px-2 py-2"/></li>
            </ul>
            <ul class="flex justify-center">
                <li><img id="hackatimetime" src={hackatime} class="py-2"/></li>
            </ul>
        </div>
    </a>
</div>

