---
import Header from "../components/Header.astro";
import background from "../assets/background2.svg"
import "../styles/global.css"
interface Props {
	title: string;
	opacity?: string;
	description?: string;
	image?: string;
}
const { title = "Pepino's Portfolio", description = "A simple website with my projects",
 image = "/images/Icon.jpg", opacity} = Astro.props;
 if (opacity == "") {let opacity = "60"}
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={description} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:image" content={image} />
		<title>{title}</title>
	</head>
	<body class="min-h-screen size-full m-0">
		<div id="container" class="relative min-h-screen overflow-x-hidden bg-gray-900">
			<div
				class={`absolute inset-0 z-0 bg-repeat bg-center blur-3xl ${opacity} pointer-events-none`}
				style={`background-image: url(${background.src});`}
			></div>

			<Header class="relative z-10" />

			<main class="relative z-10">
				<slot />
			</main>
		</div>
	</body>
</html>